*.pem
ForYouBlocker-ios/No more For You Tab at x.com
.DS_Store
*.zip

ForYouBlocker/assets/icon.png~

# Archivos generados
# ForYouBlocker/src/content.js # keep this file for debugging purposes
dist/
